{% extends 'default.html' %}
{% load censor_filter %}

{% block content %}

<h1 class="text-center">{{ message }} {{ category }}</h1>


    {% if posts %}
        <h2>Количество постов: {{ posts|length }}</h2>
        <table width="70%" style="margin-top: 35px">
            <tr>
                <td><u>Категория</u></td>
            </tr>
            {% for post in posts %}
                <tr>
                    {% for cat in post.category.all %}
                    <td>{{ cat.name }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h3> Публикаций нет! </h3>
    {% endif %}

   {% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}