{% extends 'default.html' %}
{% load censor_filter %}

{% block content %}

<header>
  <div class="container">ввв</div>
</header>
<div class="main">
  <div class="container">ыыыы</div>
</div>
<footer>
  <div class="container">ффф</div>
</footer>


<table width="70%" style="margin-top: 70px">
    <tr>
        <td><u>Заголовок</u></td>
        <td><u>Дата публикации</u></td>
        <td><u>Содержание</u></td>
        <td><u>Категория</u></td>
    </tr>
    <tr>
        <td>{{ post.title|censor }}</td>
        <td>{{ post.date_in|date:'d.M.Y' }}</td>
        <td>{{ post.text|censor }}</td>
        {% for cat in post.category.all %}
        <td>{{ cat.name }}</td>
        {% endfor %}
    </tr>
</table>

    <form action="" method="get">
        <p>&nbsp;</p>
        {{ filterset.form.as_p }}
        <input type="submit" value="Найти" />
    </form>

    {% if posts %}
        <h2>Количество постов: {{ posts|length }}</h2>
        <p><button> <a href="http://127.0.0.1:8000/news/edit/">Редактируемое</a> </button></p>
        <table width="70%" style="margin-top: 35px">
            <tr>
                <td><u>Заголовок</u></td>
                <td><u>Дата публикации</u></td>
                <td><u>Содержание</u></td>
                <td><u>Категория</u></td>
                <td><u>Подписка</u></td>
            </tr>
        </table>
    {% else %}
        <h3> Публикаций нет! </h3>
    {% endif %}

   {% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% if is_not_premium %}
    <<p><button> <a href="/sign/upgrade/"> Хочу к Авторам!!</a> </button></p>
{% endif %}

{% endblock content %}

